
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .profile-photo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    border: 3px solid grey;
  }
  
  .profile-photo {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; 
  }
  
  .profile-photo:hover {
    transform: scale(1.1); 
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    background-color: grey;
    padding: 10px;
    border-radius: 8px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; 
  }
  
  nav ul li a:hover {
    color: blue;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /
  }
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: blue;
    margin-bottom: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  footer {
    margin-top: 20px;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    body {
      padding: 10px;
    }
  
    .profile-photo-container {
      width: 100px;
      height: 100px;
    }
  
    nav ul {
      padding: 8px;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    nav ul li a {
      display: block;
      padding: 5px 0;
    }
  
    main {
      padding: 0 10px;
    }
  
    section {
      padding: 10px;
    }
  
    h2 {
      font-size: 24px; 
    }
  
    footer {
      padding: 8px;
    }
    
  }
  

  @media (max-width: 480px) {
    body {
      padding: 10px;
    }
  
    .profile-photo-container {
      width: 100px;
      height: 100px;
    }
  
    nav ul {
      padding: 8px;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    nav ul li a {
      display: block;
      padding: 5px 0;
    }
  
    main {
      padding: 0 10px;
    }
  
    section {
      padding: 10px;
    }
  
    h2 {
      font-size: 1.5em;
    }
  
    footer {
      padding: 8px;
    }
  }